@page "/rejestracja"
<h2 class="text-center my-4">Rejestracja</h2>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Register" method="post">
                <div class="input-group border-0 ramka">
                    <span class="input-group-text border-0 ikonka" id="basic-addon1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z" />
                        </svg>
                    </span>
                    <input asp-for="FirstName" class="form-control border-start" placeholder="Imię" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <br />

                <div class="input-group border-0 ramka">
                    <span class="input-group-text border-0 ikonka" id="basic-addon1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z" />
                        </svg>
                    </span>
                    <input asp-for="LastName" class="form-control border-start" placeholder="Nazwisko" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <br />
                @*test daty*@
                 <div class="input-group border-0 ramka kalendarz">
                    <span class="input-group-text border-0 ikonka" id="basic-addon1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                        </svg>
                    </span>
                    <span class="d-flex align-items-center border-start ps-2">
                        Data urodzenia
                    </span>
                 </div>
                <div class="d-flex gap-2">
                    <select class="form-select" style="width: 33%;" @bind="BirthDay">
                        <option value="">Dzień</option>
                        @for (int i = 1; i <= 31; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>

                    <select class="form-select" style="width: 33%;" @bind="BirthMonth">
                        <option value="">Miesiąc</option>
                        @for (int i = 0; i < MonthNames.Length; i++)
                        {
                            <option value="@(i + 1)">@MonthNames[i]</option>
                        }
                    </select>

                    <select class="form-select" style="width: 33%;" @bind="BirthYear">
                        <option value="">Rok</option>
                        @for (int i = DateTime.Now.Year; i >= 1900; i--)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>

                <br />

                @*test daty*@

                <div class="input-group border-0 ramka">
                    <span class="input-group-text border-0 ikonka" id="basic-addon1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at" viewBox="0 0 16 16">
                            <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z" />
                            <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648m-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z" />
                        </svg>
                    </span>
                    <input asp-for="Email" class="form-control border-start" placeholder="Adres e-mail" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <br />

                <div class="input-group border-0 ramka">
                    <span class="input-group-text border-0 ikonka" id="basic-addon1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-lock" viewBox="0 0 16 16">
                            <path d="M8 5a1 1 0 0 1 1 1v1H7V6a1 1 0 0 1 1-1m2 2.076V6a2 2 0 1 0-4 0v1.076c-.54.166-1 .597-1 1.224v2.4c0 .816.781 1.3 1.5 1.3h3c.719 0 1.5-.484 1.5-1.3V8.3c0-.627-.46-1.058-1-1.224M6.105 8.125A.64.64 0 0 1 6.5 8h3a.64.64 0 0 1 .395.125c.085.068.105.133.105.175v2.4c0 .042-.02.107-.105.175A.64.64 0 0 1 9.5 11h-3a.64.64 0 0 1-.395-.125C6.02 10.807 6 10.742 6 10.7V8.3c0-.042.02-.107.105-.175" />
                            <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1" />
                        </svg>
                    </span>
                    <input asp-for="Password" type="password" class="form-control border-start" placeholder="Hasło" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <br />

                <div class="input-group border-0 ramka">
                    <span class="input-group-text border-0 ikonka" id="basic-addon1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-lock" viewBox="0 0 16 16">
                            <path d="M8 5a1 1 0 0 1 1 1v1H7V6a1 1 0 0 1 1-1m2 2.076V6a2 2 0 1 0-4 0v1.076c-.54.166-1 .597-1 1.224v2.4c0 .816.781 1.3 1.5 1.3h3c.719 0 1.5-.484 1.5-1.3V8.3c0-.627-.46-1.058-1-1.224M6.105 8.125A.64.64 0 0 1 6.5 8h3a.64.64 0 0 1 .395.125c.085.068.105.133.105.175v2.4c0 .042-.02.107-.105.175A.64.64 0 0 1 9.5 11h-3a.64.64 0 0 1-.395-.125C6.02 10.807 6 10.742 6 10.7V8.3c0-.042.02-.107.105-.175" />
                            <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1" />
                        </svg>
                    </span>
                    <input asp-for="ConfirmPassword" type="password" class="form-control border-start" placeholder="Potwierdź hasło" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <br />

                <button type="submit" class="btn btn-primary w-100">Zarejestruj się</button>
            </form>

            <div class="text-center mt-3">
                <span>Masz już konto? </span>
                <a href="/logowanie">Zaloguj się</a>
            </div>

        </div>
    </div>
</div>

@code {
    private readonly string[] MonthNames = new[]
    {
        "Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec",
        "Lipiec", "Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień"
    };

    int? BirthDay { get; set; }
    int? BirthMonth { get; set; }
    int? BirthYear { get; set; }

    DateTime? DateOfBirth =>
        BirthDay.HasValue && BirthMonth.HasValue && BirthYear.HasValue
        ? TryParseDate(BirthYear.Value, BirthMonth.Value, BirthDay.Value)
        : null;

    DateTime? TryParseDate(int year, int month, int day)
    {
        try
        {
            return new DateTime(year, month, day);
        }
        catch
        {
            return null;
        }
    }
}