@inherits Core.Components.BaseClassess.CustomComponentBase
@page "/rejestracja"
@using Core.Components.Spinners
@using Core.Components.Dialogs

@if (IsLoading)
{
    <Spinner />
}
else
{
    <EditForm Model="FormModel" OnValidSubmit="HandleRegister">
        <DataAnnotationsValidator />

        <div class="register-container">
            <div class="glass-box">
                <img src="Images/szpital_brzeziny_logo_uzupelniajace.png" alt="Logo" class="register-logo" />

                <h3 class="text-center register-title">Rejestracja</h3>

                <!-- Imię -->
                <label class="form-label">Imię</label>
                <div class="input-frame">
                    <InputText @bind-Value="FormModel.FirstName" class="form-control input-text" placeholder="Imię" />
                </div>
                <ValidationMessage For="@(() => FormModel.FirstName)" style="font-size:0.8rem;color:red;" />


                <!-- Nazwisko -->
                <label class="form-label">Nazwisko</label>
                <div class="input-frame">
                    <InputText @bind-Value="FormModel.LastName" class="form-control input-text" placeholder="Nazwisko" />
                </div>
                <ValidationMessage For="@(() => FormModel.LastName)" style="font-size:0.8rem;color:red;" />

                <!-- Data urodzenia -->
                <label class="form-label">Data urodzenia</label>
                <div class="input-frame">
                    <InputDate @bind-Value="FormModel.BirthDate"
                               TValue="DateOnly?"
                               AdditionalAttributes="@(new Dictionary<string, object> { { "placeholder", "DD-MM-RRRR" },{"class","form-control input-text"} })" />
                </div>
                <ValidationMessage For="@(() => FormModel.BirthDate)" style="font-size:0.8rem;color:red;" />

                <!-- Email -->
                <label class="form-label">Adres e-mail</label>
                <div class="input-frame">
                    <InputText @bind-Value="FormModel.Email" class="form-control input-text" placeholder="Adres e-mail" />
                </div>
                <ValidationMessage For="@(() => FormModel.Email)" style="font-size:0.8rem;color:red;" />

                <!-- Hasło -->
                <label class="form-label">Hasło</label>
                <div class="input-frame">
                    <InputText @bind-Value="FormModel.Password" type="password" class="form-control input-text" placeholder="Hasło" />
                </div>
                <ValidationMessage For="@(() => FormModel.Password)" style="font-size:0.8rem;color:red;" />

                <!-- Potwierdź hasło -->
                <label class="form-label">Powtórz hasło</label>
                <div class="input-frame mb-3">
                    <InputText @bind-Value="FormModel.ConfirmPassword" type="password" class="form-control input-text" placeholder="Potwierdź hasło" />
                </div>
                <ValidationMessage For="@(() => FormModel.ConfirmPassword)" style="font-size:0.8rem;color:red;" />

                <button type="submit" class="btn btn-primary submit-btn">Zarejestruj się</button>

                <div class="text-center mt-3">
                    <span>Masz już konto? </span>
                    <a href="/login">Zaloguj się</a>
                </div>
            </div>
        </div>
    </EditForm>
}

<ErrorDialog Message="@ErrorMessage" IsHidden="@IsHiddenErrorDialog" OnClose="CloseDialog" />