@page "/zabiegi/{categoryName}"
@using Microsoft.AspNetCore.Components

<div class="container my-4">
    <h2>Świadczenia dla: @categoryName</h2>

    <input class="form-control my-3" placeholder="Wyszukaj świadczenia" @bind="searchText" />

    @if (SelectedCategory == null)
    {
        <!-- Kategoria główna -->
        <div class="selection-grid">
            @foreach (var cat in Categories)
            {
                @if (cat.Name.ToLower() == categoryName.ToLower())
                {
                    <button class="selection-tile" @onclick="() => SelectCategory(cat)">
                        @cat.Name
                    </button>
                }
            }
        </div>

    }
    else if (SelectedSubcategory == null)
    {
        <!-- Podkategoria -->
        <h4 class="section-header">@SelectedCategory.Name</h4>
        <div class="selection-grid">
            @foreach (var sub in SelectedCategory.Subcategories)
            {
                <button class="selection-tile" @onclick="() => SelectSubcategory(sub)">
                    @sub.Name
                </button>
            }
        </div>

    }

    else if (SelectedTopic == null)
    {
        <!-- Szczegóły zabiegu -->
        <h5 class="section-subheader">@SelectedCategory.Name > @SelectedSubcategory.Name</h5>
        <div class="selection-grid">
            @foreach (var topic in SelectedSubcategory.Topics)
            {
                <button class="selection-tile" @onclick="() => SelectTopic(topic)">
                    @topic
                </button>
            }
        </div>

    }
    else
    {
        <!-- Zakładki dla konkretnego zabiegu -->
        <h6 class="section-subheader">@SelectedCategory.Name > @SelectedSubcategory.Name > @SelectedTopic</h6>
        <div class="selection-grid">
            @foreach (var tab in Tabs)
            {
                <button class="selection-tile"
                        @onclick="() => SelectTab(tab)"
                        @ondblclick="@(tab == "dietetyka" ? EventCallback.Factory.Create(this, ToggleDietetykaCards) : EventCallback.Empty)">
                    @tab
                </button>
            }
        </div>


        @if (SelectedTab == "checklista")
        {
            <div class="card p-3 mt-3">
                <h5>CHECKLISTA</h5>

                <p><strong>6–8 tyg. przed operacją:</strong></p>
                @foreach (var item in CheckItems_6_8)
                {
                    <div class="checklist-item">
                        <input type="checkbox" @bind="item.IsChecked" />
                        <label>@item.Text</label>
                    </div>
                }

                <p><strong>1–2 tyg. przed:</strong></p>
                @foreach (var item in CheckItems_1_2)
                {
                    <div class="checklist-item">
                        <input type="checkbox" @bind="item.IsChecked" />
                        <label>@item.Text</label>
                    </div>
                }

                <p><strong>1 dzień przed przyjęciem do szpitala:</strong></p>
                @foreach (var item in CheckItems_1DayBefore)
                {
                    <div class="checklist-item">
                        <input type="checkbox" @bind="item.IsChecked" />
                        <label>@item.Text</label>
                    </div>
                }
                <hr class="my-4" />

                <div class="hospital-packing-info">
                    <h6>Co zabrać do szpitala?</h6>
                    <p>
                        Przygotuj niewielką torbę, którą zabierzesz ze sobą do szpitala. Poniżej znajdziesz listę rzeczy, które warto spakować, aby czuć się komfortowo i mieć wszystko, czego możesz potrzebować:
                    </p>
                    <ul class="custom-checklist">
                        <li>• Wygodne kapcie – najlepiej z antypoślizgową, stabilną podeszwą.</li>
                        <li>• Koszula nocna – sięgająca do kolan, zapewni wygodę podczas pobytu.</li>
                        <li>• Cienka lub bawełniana koszulka – do założenia pod szpitalną koszulę.</li>
                        <li>• Ulubiona książka lub czasopismo – coś, co umili Ci czas.</li>
                        <li>• Dokumenty – kopie legitymacji ubezpieczeniowej, historii medycznej, dyrektyw dotyczących leczenia.</li>
                        <li>• Leki – wszystkie, które zażywasz regularnie.</li>
                        <li>• Środki higieny osobistej – szczoteczka do zębów, pudełko na protezę, etui na okulary, pojemnik na soczewki kontaktowe itp.</li>
                        <li>• Ubranie na wypis – luźny dres lub strój sportowy i wygodne obuwie do chodzenia po domu.</li>
                        <li>• Pończochy przeciwżylakowe – jeżeli lekarz wyrazi na to zgodę, mogą być przydatne.</li>
                    </ul>
                    <p>
                        <strong>Pamiętaj:</strong><br />
                        Nie zabieraj ze sobą gotówki, kart kredytowych ani biżuterii – najlepiej zostawić je w domu.
                    </p>
                    <p>
                        <strong>Ważna wskazówka:</strong><br />
                        Poproś kogoś bliskiego – członka rodziny lub przyjaciela – o wsparcie podczas pobytu w szpitalu. Dobrze, jeśli ktoś codziennie sprawdzi, czy wszystko u Ciebie w porządku. Powrót do zdrowia przebiega szybciej, gdy nie jesteś sam.
                    </p>
                </div>
            </div>
        }
        else if (SelectedTab == "dietetyka" && SelectedCategory?.Name == "ortopedia" && SelectedSubcategory?.Name == "st. biodrowy" && SelectedTopic == "endoproteza")
        {
            @if (ShowDietetykaCards)
            {
                <!-- Tutaj renderujemy karty -->
                <div class="row g-4 mt-4 dietetyka-cards">
                    @foreach (var card in DietetykaCards)
                    {
                        <div class="col-12 col-md-6">
                            <div class="card h-100 shadow-sm rounded">
                                <img src="@card.ImagePath" class="card-img-top" alt="@card.Title">
                                <div class="card-body">
                                    <h5 class="card-title">@card.Title</h5>
                                    <div class="card-text">@card.Description</div>
                                </div>

                            </div>
                        </div>
                    }
                </div>
            }
        }
        else if (SelectedTab == "rehabilitacja" && SelectedCategory?.Name == "ortopedia" && SelectedSubcategory?.Name == "st. biodrowy" && SelectedTopic == "endoproteza")
        {
            <div class="btn-group" role="group" aria-label="Rehabilitacja Phase">
                <button class="btn btn-outline-primary" @onclick="@(() => SelectRehabilitationPhase("before"))">Ćwiczenia przed operacją</button>
                <button class="btn btn-outline-primary" @onclick="@(() => SelectRehabilitationPhase("after"))">Ćwiczenia po operacji</button>
            </div>


            <div class="row g-4 mt-4 rehabilitacja-cards">
                @if (SelectedRehabilitationPhase == "before")
                {
                    @foreach (var card in RehabilitacjaCardsBefore)
                    {
                        <div class="col-12 col-md-6">
                            <div class="card h-100 shadow-sm rounded">
                                <img src="@card.ImagePath" class="card-img-top" alt="@card.Title">
                                <div class="card-body">
                                    <h5 class="card-title">@card.Title</h5>
                                    <div class="card-text">@card.Description</div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else if (SelectedRehabilitationPhase == "after")
                {
                    @foreach (var card in RehabilitacjaCardsAfter)
                    {
                        <div class="col-12 col-md-6">
                            <div class="card h-100 shadow-sm rounded">
                                <img src="@card.ImagePath" class="card-img-top" alt="@card.Title">
                                <div class="card-body">
                                    <h5 class="card-title">@card.Title</h5>
                                    <div class="card-text">@card.Description</div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        }
        else if (SelectedTab == "dokumenty" && SelectedCategory?.Name == "ortopedia" && SelectedSubcategory?.Name == "st. biodrowy" && SelectedTopic == "endoproteza")
        {
            <div class="row g-4 mt-4 dokumenty-cards">
                @foreach (var doc in Dokumenty)
                {
                    <div class="col-12 col-md-6">
                        <div class="card h-100 shadow-sm rounded">
                            <div class="card-body">
                                <h5 class="card-title">@doc.Title</h5>
                                <p class="card-text">@doc.Description</p>

                                <a class="btn btn-outline-success mt-2" @onclick=@(async () => await SaveFileToDownloads(doc.FilePath))>
                                    <i class="bi bi-download"></i> Pobierz (@doc.FileType)
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else if (SelectedTab == "terapia zajęciowa" && SelectedCategory?.Name == "ortopedia" && SelectedSubcategory?.Name == "st. biodrowy" && SelectedTopic == "endoproteza")
        {
            <div class="row g-4 mt-4 terapia-zajeciowa-cards">
                @for (int i = 0; i < TerapiaZajeciowaCards.Count; i++)
                {
                    var card = TerapiaZajeciowaCards[i];
                    <div class="col-12 col-md-6">
                        <div class="card h-100 shadow-sm rounded">
                            @if (i != 0)
                            {
                                <img src="@card.ImagePath" class="card-img-top" alt="@card.Title">
                            }
                            <div class="card-body">
                                <h5 class="card-title">@card.Title</h5>
                                <div class="card-text">@card.Description</div>
                                @if (i == 0 && !string.IsNullOrEmpty(card.FilePath))
                                {
                                    <a class="btn btn-outline-success mt-2" @onclick=@(async () => await SaveFileToDownloads(card.FilePath))>
                                        <i class="bi bi-download"></i> Pobierz (@card.FileType)
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        }

        else if (SelectedTab == "procedury" && SelectedCategory?.Name == "ortopedia" && SelectedSubcategory?.Name == "st. biodrowy" && SelectedTopic == "endoproteza")
        {
            <div class="row g-4 mt-4 procedury-cards">
                @foreach (var card in ProceduryCards)
                {
                    <div class="col-12 col-md-6">
                        <div class="card h-100 shadow-sm rounded">
                            <img src="@card.ImagePath" class="card-img-top" alt="@card.Title">
                            <div class="card-body">
                                <h5 class="card-title">@card.Title</h5>
                                <div class="card-text">@card.Description</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else if (SelectedTab == "strategie relaksacyjne" && SelectedCategory?.Name == "ortopedia" && SelectedSubcategory?.Name == "st. biodrowy" && SelectedTopic == "endoproteza")
        {
            <div class="row g-4 mt-4 strategie-relaksacyjne-cards">
                @foreach (var card in StrategieRelaksacyjneCards)
                {
                    <div class="col-12 col-md-6">
                        <div class="card h-100 shadow-sm rounded">
                            <img src="@card.ImagePath" class="card-img-top" alt="@card.Title">
                            <div class="card-body">
                                <h5 class="card-title">@card.Title</h5>
                                <div class="card-text">@card.Description</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else if (SelectedTab == "faq" && SelectedCategory?.Name == "ortopedia" && SelectedSubcategory?.Name == "st. biodrowy" && SelectedTopic == "endoproteza")
        {
            <div class="row g-4 mt-4 faq-cards">
                @foreach (var card in FaqCards)
                {
                    <div class="col-12 col-md-6">
                        <div class="card h-100 shadow-sm rounded">
                            <div class="card-body">
                                <h5 class="card-title">@card.Title</h5>
                                <div class="card-text">@card.Description</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }



    }
</div>

